
.ipynb_checkpoints/Diabetes-checkpoint.ipynb
ddbb/.ipynb_checkpoints/Diabetes-checkpoint.ipynb
ddbb/.~lock.pacientes_progresores.csv#
ddbb/.ipynb_checkpoints/Size-checkpoint.ipynb
*.pptx#
EDA/.ipynb_checkpoints/Diabetes_EDA-checkpoint.ipynb
EDA/.~lock.Comentarios_Outliers.odt#
.ipynb_checkpoints/Diabetes_Random_Forest_UNDERSAMPLING-checkpoint.ipynb
.ipynb_checkpoints/Diabetes_Random_Forest_UNDERSAMPLING-checkpoint.ipynb
.ipynb_checkpoints/Diabetes_Random_Forest_UNDERSAMPLING_oscar-checkpoint.ipynb
.ipynb_checkpoints/Diabetes_Random_Forest_UNDERSAMPLING_rev2_oscar-checkpoint.ipynb
rf_reviews_model
example_rf.npy
*.pyc
__pycache__/tfg_tools.cpython-38.pyc
